<a href="https://colab.research.google.com/github/Rawan806/ML-early-risk-prediction/blob/main/Cardio_Risk_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
!pip -q install datasets

import pandas as pd
from datasets import load_dataset

ds = load_dataset("e1e1e1/Cardio")  # فيه train + test

df_train = ds["train"].to_pandas()
df_test  = ds["test"].to_pandas()

df_train.head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,23227,1,152,78.0,140,80,1,1,0,0,0,1
1,17464,1,163,55.0,110,70,1,1,1,0,1,0
2,18353,2,165,70.0,110,70,1,1,0,0,1,1
3,19622,1,174,86.0,120,80,1,1,0,0,1,1
4,18886,2,162,65.0,120,80,1,1,0,0,1,0

In [17]:
print("Train shape:", df_train.shape)
print("Test shape:", df_test.shape)

Train shape: (56000, 12)
Test shape: (14000, 12)

In [22]:
print("\n the train dataset: ")
print(df_train.columns.tolist())
df_train.dtypes

 the train dataset:
['age', 'gender', 'height', 'weight', 'ap_hi', 'ap_lo', 'cholesterol', 'gluc', 'smoke', 'alco', 'active', 'cardio']

age              int64
gender           int64
height           int64
weight         float64
ap_hi            int64
ap_lo            int64
cholesterol      int64
gluc             int64
smoke            int64
alco             int64
active           int64
cardio           int64
dtype: object

In [23]:
print("\n the test dataset: ")
print(df_test.columns.tolist())
df_test.dtypes

 the test dataset:
['age', 'gender', 'height', 'weight', 'ap_hi', 'ap_lo', 'cholesterol', 'gluc', 'smoke', 'alco', 'active', 'cardio']

age              int64
gender           int64
height           int64
weight         float64
ap_hi            int64
ap_lo            int64
cholesterol      int64
gluc             int64
smoke            int64
alco             int64
active           int64
cardio           int64
dtype: object

In [24]:
df_train.isna().sum().sort_values(ascending=False).head(15)

age            0
gender         0
height         0
weight         0
ap_hi          0
ap_lo          0
cholesterol    0
gluc           0
smoke          0
alco           0
active         0
cardio         0
dtype: int64

In [25]:
df_train["cardio"].value_counts()
(df_train["cardio"].value_counts(normalize=True)*100).round(2) # this might be the target (it will! since it's highly balanced)

cardio
0    50.07
1    49.93
Name: proportion, dtype: float64

In [26]:
df_train.describe()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
count,56000.000000,56000.000000,56000.000000,56000.000000,56000.000000,56000.000000,56000.000000,56000.000000,56000.000000,56000.000000,56000.000000,56000.000000
mean,19471.795036,1.350500,164.366304,74.216573,128.613446,96.688339,1.366179,1.226214,0.088518,0.054179,0.802946,0.499268
std,2466.557005,0.477131,8.220743,14.391067,146.234911,196.000378,0.680016,0.571912,0.284049,0.226372,0.397777,0.500004
min,10798.000000,1.000000,55.000000,10.000000,-150.000000,-70.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,17674.000000,1.000000,159.000000,65.000000,120.000000,80.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000
50%,19706.000000,1.000000,165.000000,72.000000,120.000000,80.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000
75%,21332.000000,2.000000,170.000000,82.000000,140.000000,90.000000,2.000000,1.000000,0.000000,0.000000,1.000000,1.000000
max,23713.000000,2.000000,250.000000,200.000000,14020.000000,11000.000000,3.000000,3.000000,1.000000,1.000000,1.000000,1.000000

In [27]:
# preview on the train dataset
df_train.sample(10, random_state=42)

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
52141,22074,1,157,46.0,130,70,1,1,0,0,1,0
44163,23409,1,150,46.0,140,90,1,1,0,0,1,0
35746,19916,2,170,78.0,140,90,1,1,0,0,1,1
13713,14781,1,155,55.0,100,60,2,1,0,0,1,0
32127,18940,1,157,80.0,160,100,1,1,0,0,1,0
52216,19541,1,169,88.0,120,80,1,1,0,0,1,1
48490,21842,1,166,105.0,120,80,3,1,0,0,1,1
30532,20685,1,169,69.0,140,90,1,1,0,0,0,1
49363,23443,1,161,63.0,130,80,3,3,0,0,1,1
14644,21015,1,156,59.8,120,70,1,1,0,1,1,0

In [29]:
X_train = df_train.drop(columns=["cardio"]) # splitting the target feature
y_train = df_train["cardio"]